html, body
{
    height: 100%;
}

.title {    
  border: 2px #a10127 solid;
  color: #a10127;
  text-align: center;
}

.the-excuse {
    text-align: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/274/594/non_2x/vector-omg-the-woman-in-shock-pop-art-retro-style.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}
.excuse-text {
    margin-top: 0px;
    background-color: #f3e139;
    color: #a10127;
    border: 2px #a10127 solid;
}